---
import Layout from "../layouts/Global.astro";
// import type { Article } from "../types/article";
import dayjs from "dayjs";
import customParseFormat from "dayjs/plugin/customParseFormat";
dayjs.extend(customParseFormat);
import { getCollection, CollectionEntry} from 'astro:content';
import type {blogg} from '../schemas'
import {filterblog} from '../utils'
import ContentBlock from '../components/ContentBlock.astro'
// Return the list of articles in the "articles" directory
const blogs = await getCollection("blogs");

// Parse the date of each article, sort by date descending and return an array of the 4 last articles
const sortedblogs = blogs
  .map((blog) => {
    const { title, modified, description, image } = blog.data;
    return {
      title,
      date: dayjs(modified, "DD-MM-YYYY").format("YYYY-MM-DD"),
      description,
      url: blog.slug,
      image: image,
    } as blogg;
  })
  .sort((a, b) => {
    return dayjs(b.date).diff(dayjs(a.date));
  })
  .splice(0, 5);

const [pined, unpined] = filterblog(sortedblogs, (blog) => {return blog.pined});;
---

<Layout
  title="Frank"
  description="I'm Frank, a 22 years old ORIE student. I occasionally publish articles about programming and tech."
>
  <div class="">
    <h2
      class="max-w-fit lg:text-4xl md:text-3xl text-2xl font-bold bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent"
    >
      Hi there <span
        class="lg:text-4xl md:text-3xl text-2xl font-bold text-black">👋</span
      >
    </h2>
    <p class="text-md mt-2 text-white/60 text-sm">
      I'm Frank, a student major in Operation Reasearch at UIUC. <br />
      On this website, I publish articles about what I've discovered and created.
      <!--  <p class="text-neutral-400 text-sm md:text-[15px] mt-2 mb-2">
      I'm <b>Julien C</b>. I'm currently studying for a "licence informatique"
      (the French equivalent of a CS degree). I love building projects in my
      spare time. <br />
      You'll find my articles and the list of my projects on this website.
    </p> -->
    </p>
  </div>

  <h2 class="text-base md:text-xl mt-8 mb-4 text-white/90">
    {sortedblogs.length > 1 ? "Latest blogs" : "Latest blog"}
  </h2>
  <div class="flex flex-wrap gap-3">
    {
      pined.map((blog) => (
        <ContentBlock blog={blog} ishome={true}/>
      ))
    }
    {
      unpined.map((blog) => (
        <ContentBlock blog={blog} ishome={true}/>
        ))
    }
  </div>
</Layout>
