---
import { string } from "astro/zod";
import Layout from "../layouts/Global.astro";

// const {title, image, date, modified, description} = Astro.props;
const { content } = Astro.props;
const { data, slug } = content;
//headings
interface Heading {
  depth: number;
  text: string;
  slug: string;
}

const { headings } = await content.render();
---

<Layout title={data.title} description={data.description}>
  <!-- We need to use is:inline in order to apply the style to the children -->
  <style is:inline>
    article h1,
    article h2,
    article h3,
    article h4,
    article h5,
    article h6 {
      font-weight: 700;
      color: black;
      margin-bottom: 4px;
      margin-top: 32px;
    }

    .dark article h1,
    .dark article h2,
    .dark article h3,
    .dark article h4,
    .dark article h5,
    .dark article h6,
    .dark article p {
      color: white;
    }

    article h1 {
      font-size: 28px;
    }
    article a {
      text-decoration: underline;
      color: rgb(82 82 91);
    }
    article a:hover {
      /* Gradient */
      background-image: linear-gradient(120deg, #ac4cb6 0%, #ff8393 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      text-decoration: none;
      transition: all 0.25s ease-in-out;
    }

    .dark article a:hover {
      /* Gradient */
      background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    }

    article h2 {
      font-size: 20px;
    }
    article h3 {
      font-size: 18px;
    }
    article h4,
    article h5,
    article h6 {
      font-size: 16px;
      margin-top: 8px;
      margin-bottom: 8px;
    }

    article p {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    article li,
    article a,
    article span,
    article strong {
      font-size: 15px;
      font-weight: 400;
      color: #383636;
    }

    .dark article li,
    .dark article a,
    .dark article span,
    .dark article strong {
      color: #b9b8b8;
    }

    table {
      display: block;
      overflow-x: auto;
      width: 100%;
      border-collapse: collapse;
      color: #000; /* text color */
      background-color: #e5e5e5; /* table color */
      box-shadow: 0 0 0 1px #000 inset;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    table th,
    table td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* border color */
    }

    table th {
      background-color: #c0c0c0; /* header color */
    }

    table td {
      background-color: #f0f0f0; /* cell color */
    }

    table tr:hover {
      background-color: rgba(0, 0, 0, 0.05); /* hover color */
    }

    table caption {
      padding: 10px;
      font-weight: bold;
      font-size: 1.2em;
      color: #000; /* caption text color */
      background-color: #c0c0c0; /* caption background color */
    }

    .dark table {
      width: 100%;
      border-collapse: collapse;
      color: #fff;
      background-color: #151e24;
      box-shadow: 0 0 0 1px #fff inset;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .dark table th,
    .dark table td {
      padding: 12px;
      text-align: left;
      /* border: 1px solid rgba(255, 255, 255, 0.1); */
    }

    .dark table th {
      background-color: #0f151b;
    }

    .dark table td {
      background-color: #101820;
    }

    .dark table tr:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .dark table caption {
      padding: 10px;
      font-weight: bold;
      font-size: 1.2em;
      color: #fff;
      background-color: #0f151b;
    }

    .astro-code {
      border-radius: 4px;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      /* padding-left: 1rem; */
      padding-inline: 1rem;
    }
    /* For mobile screen */
    @media (max-width: 600px) {
      article h1 {
        font-size: 24px;
      }
      article h2 {
        font-size: 20px;
      }
      article h3 {
        font-size: 18px;
      }
      article h4 {
        font-size: 16px;
      }
      article h5,
      article h6 {
        font-size: 16px;
      }
      article p,
      article li,
      article a,
      article span {
        font-weight: 400;
        color: #b9b8b8;
        font-size: 14px;
      }
      table th,
      table td {
        padding: 6px; /* reduce padding on smaller screens */
      }

      table caption {
        font-size: 1em; /* reduce caption font size on smaller screens */
      }
    }
  </style>
  <script>
    import { annotate } from "rough-notation";
    document.querySelectorAll("strong").forEach((el) => {
      console.log(el);

      const annotation = annotate(el, {
        type: "underline",
        iterations: 1,
        padding: 2,
        // Yellow for dark mode
        color: "#ff7308",
      });
      annotation.show();
    });
  </script>
  <div class="max-w-2xl mx-auto">
    <img
      class="w-full object-cover rounded-lg aspect-video mb-4 md:mt-8 transition-all"
      src={"/personal_site/images/" + data.image}
      alt={data.title}
    />

    <h1
      class="text-xl mb-1 max-w-fit font-semibold bg-gradient-to-r from-teal-500 to-purple-500 bg-clip-text text-transparent md:text-2xl"
    >
      {data.title}
    </h1>
    <p
      class="text-neutral-400 text-sm pb-2 mb-6 font-normal border-b-neutral-700 border-b"
    >
      {data.description}
    </p>
    <div class="gap-x-10 lg:flex lg:items-start">
      {
        !!headings.length && (
          <aside class="sticky top-20 order-2 -me-32 hidden basis-64 lg:block text-zinc-700 dark:text-white/80">
            <h3 class="font-semibold">Table of Contents</h3>
            <ul class="mt-4 text-sm">
              {headings.map(({ depth, slug, text }: Heading) => (
                <li class="headingl line-clamp-2 text-zinc-700 dark:text-white/80 hover:scale-105">
                  <a
                    class={`block ${
                      depth <= 2 ? "mt-2" : "mt-1 ps-3 text-[0.7875rem]"
                    }`}
                    href={`#${slug}`}
                    aria-label={`Scroll to section: ${text}`}
                  >
                    <span>{" ".repeat(depth) + "-"}</span> {text}
                  </a>
                </li>
              ))}
            </ul>
          </aside>
        )
      }
    </div>
    <article class="mb-8">
      <slot />
    </article>
  </div>
</Layout>

<style>
  .headingl:hover {
    /* Gradient */
    background-image: linear-gradient(120deg, #ac4cb6 0%, #ff8393 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
  }
  .dark .heading:hover {
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  }
</style>
